#**Day 9**

In [4]:
# 1. Creating a tuple
point = (10, 20, 30)
print(point)

(10, 20, 30)

In [5]:
# 2. Tuple unpacking
x, y, z = point
print("x:", x, "y:", y, "z:", z)

x: 10 y: 20 z: 30

In [6]:
# 3. Returning multiple values from a function
def min_max(lst):
    return min(lst), max(lst)

low, high = min_max([4, 7, 1, 9])
print("Min:", low, "Max:", high)

Min: 1 Max: 9

In [7]:
# 4. Tuple immutability demonstration
coords = (1, 2, 3)
try:
    coords[0] = 0
except TypeError as e:
    print("Error:", e)

Error: 'tuple' object does not support item assignment

In [8]:
# 5. Tuple in a list of tuples (like cities)
cities = [("NY", 40.7, -74.0), ("LA", 34.0, -118.2)]
for city in cities:
    print(city)

('NY', 40.7, -74.0)
('LA', 34.0, -118.2)

**Set practice**

In [9]:
# 6. Creating sets
visitors_day1 = {"192.168.0.1", "192.168.0.2", "192.168.0.3"}
visitors_day2 = {"192.168.0.2", "192.168.0.3", "192.168.0.4"}
print(visitors_day1)

{'192.168.0.2', '192.168.0.3', '192.168.0.1'}

In [10]:
# 7. Union of sets
all_visitors = visitors_day1.union(visitors_day2)
print("All unique visitors:", all_visitors)

All unique visitors: {'192.168.0.4', '192.168.0.3', '192.168.0.1', '192.168.0.2'}

In [11]:
# 8. Intersection of sets
common_visitors = visitors_day1.intersection(visitors_day2)
print("Common visitors:", common_visitors)

Common visitors: {'192.168.0.2', '192.168.0.3'}

In [12]:
# 9. Difference of sets
unique_day1 = visitors_day1.difference(visitors_day2)
print("Unique to day1:", unique_day1)

Unique to day1: {'192.168.0.1'}

In [13]:
# 10. Symmetric difference
unique_visitors = visitors_day1.symmetric_difference(visitors_day2)
print("Visitors only on one day:", unique_visitors)

Visitors only on one day: {'192.168.0.4', '192.168.0.1'}

**Combined tuples and sets**

In [14]:
# 11. List of city tuples and extracting names into a set
cities = [("NY", 40.7, -74.0), ("LA", 34.0, -118.2), ("Chicago", 41.8, -87.6)]
city_names = {city[0] for city in cities}
print("City names:", city_names)

City names: {'LA', 'NY', 'Chicago'}

In [15]:
# 12. Tracking unique emails
emails = ["abc@gmail.com", "xyz@yahoo.com", "abc@gmail.com"]
unique_emails = set(emails)
print("Unique emails:", unique_emails)

Unique emails: {'xyz@yahoo.com', 'abc@gmail.com'}

In [16]:
import math

def distance(coord1, coord2):
    lat1, lon1 = coord1[1], coord1[2]
    lat2, lon2 = coord2[1], coord2[2]
    lat1, lon1, lat2, lon2 = map(math.radians, [lat1, lon1, lat2, lon2])
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = math.sin(dlat/2)**2 + math.cos(lat1)*math.cos(lat2)*math.sin(dlon/2)**2
    return 6371 * 2 * math.asin(math.sqrt(a))

my_loc = ("MyPlace", 41.0, -87.0)
nearest = min(cities, key=lambda c: distance(my_loc, c))
print("Nearest city:", nearest[0])

Nearest city: Chicago